.site-logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.site-media {
  max-width: 100%;
  margin: 1.5em 0;

  img,
  video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }

  figcaption {
    margin-top: 0.6em;
    color: var(--global-fig-caption-color);
    font-size: 0.8em;
    text-align: center;
  }
}

.page__content > img {
  border-radius: 8px;
}
